/* Common styles */

.body{
     font-family:  "Roboto", sans-serif;
     color: #434455;
    background-color: #FFFFFF;
          }

   .ol, ul{list-style: none;}       
.a{
    font-style: none;
    color: currentColor;
   
    }
    .button{
        font-family: inherit;
        cursor: pointer;
    }

:root{
     --primary-color:#2E2F42;
     --color:#4048BF;
     --color-button:#4D5AE5;
     --secondary-color:#434455;
     --color-white: #FFFFFF;
     --light-grey-color: #F4F4FD;
}
/* Header */
 

.header{}


    
.logo-link {
    
    
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    color:  var(--color-button);
    font-family: "Raleway", sans-serif;
   

}
.link{
    text-decoration: none;}

.logo-dark{
    color: var(--primary-color);
}
    

    .list header-list{
        list-style: none;
    }
    .header-list{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-color); }
       
     .link{
            text-decoration: none;
                     }
   
            
    .header-list:hover,
    .header-list:focus{
        color: #404bbf; 
     }

/* address */
.list-contacts{
   font-style: normal;
}
.list list-contacts{
 list-style: none;  
 
}

.contacts-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.link{
    text-decoration: none;
    
   }
.link:hover
.link:focus{
   color: #404bbf;
}


  
.main{}

/* hero */

.section-hero{
 background: var(--primary-color)
 }
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;  
    text-align: center;
    letter-spacing: 0.02em;

     }

.hero-btn{
    color: #FFFFFF;
    background: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
    cursor: pointer;
}

/* benefits */


.benefits list{  
    list-style: none;
    

}
.benefits-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color)
    
     
}
.benefits-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
 
   
}

/* made */

.made-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    }

.made list{
        list-style: none;      
}


.made-img{}

/* team */
.list team-link{
    background-color: #F4F4FD;

}
.team-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;}
    
.team-list{
   background-color: #FFFFFF; }   

    
.list team-link{
    background-color: #F4F4FD;
       }
.team-title{
    font-size: 36px;
    line-height:1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
      color: var(--primary-color)
    }
    .team list{
        list-style: none;
        
    }
.team-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    background-color: #FFFFFF;
}
.team-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);

}

/* footer */
.footer{
    background-color: var(--primary-color);
}
.logo-light{
    color: #F4F4FD;
}
.footer-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--light-grey-color)

}


/* Portfolio */
.list list-button{
list-style: none;}


.list-button{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-button);
background-color: var(--light-grey-color)
}
.list-button:hover,
.list-button:focus{
    color: #FFFFFF;
    background-color: #404bbf;
    cursor: pointer;
}

   
.list services-link{
    list-style:none; 
 } 
 .services-list{
    text-decoration: none;
 }
 .services-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-color);


 }
.services-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color:var(--secondary-color)}












